* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Courier New", Courier, monospace;
  background-color: #698b7d;
}

.wrapper {
  padding: 20px 50px 20px 10px;
  height: auto;
  background-color: #fefefe;
  margin: 50px auto;
}

.container {
  padding-left: 50px;
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.show-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.scores {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  padding-right: 36px;
  width: 40%;
}

.score-container {
  list-style: none;
  border: 2px solid #121212;
  width: min-content;
  padding-right: 2px;
}

.score-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 10px;
}

.score-item:nth-child(odd) {
  background-color: #e1e6eb;
}

.add-score-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}

.input-field {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.submit-btn {
  display: flex;
  align-self: flex-end;
  cursor: pointer;
}

.project-title,
.recent-scores,
.refresh-btn,
.score-container,
.add-score-text,
input,
.submit-btn {
  font-weight: 600;
}

input {
  padding: 5px 0 5px 5px;
  border-radius: 7px;
  border: 1px solid #555;
}

.btn {
  color: #fefefe;
  font-size: 14px;
  background-color: rgb(15, 158, 110);
  box-shadow: 5px 5px 4px #222;
  padding: 3px 5px;
  border-radius: 7px;
  cursor: pointer;
}

.sub-title {
  font-size: 20px;
  color: #fefefe;
  background-color: #2a3b99;
  padding: 3px 5px;
  border-radius: 7px;
}

.error-message {
  display: none;
  color: red;
  font-size: 17px;
  font-style: italic;
}

@media screen and (max-width: 767.98px) {
  .wrapper {
    padding: 20px 1px 20px 5px;
    width: 67%;
    height: auto;
    background-color: #fefefe;
    margin: 50px auto;
  }

  .container {
    padding-left: 5px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .add-score-text {
    margin: 30px 0 0 10px;
  }

  .sub-title {
    padding-left: 1px;
    font-size: 16px;
  }

  .input-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
  }

  input {
    width: 70%;
  }

  .submit-btn {
    margin-right: 90px;
  }

  .scores {
    width: unset;
  }
}
